<app-headeradmin></app-headeradmin>
<div class="container">
    <h2>Edit Project</h2>
   
    <form (ngSubmit)="onEditWork()">
      <div class="form-group">
        <ckeditor [editor]="Editor" [(ngModel)]="project.html"  (ready)="onReady($event)" name="html" data="Hello, world!"></ckeditor>
      </div>
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" [(ngModel)]="project.name" name="name" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Img:</label>
        <input type="text" [(ngModel)]="project.img" name="img" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">short-desc:</label>
        <input type="text"  [(ngModel)]="project.shortdesc" name="shortdesc" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">desc:</label>
        <input type="text" [(ngModel)]="project.desc" name="desc" class="form-control" id="usr">
      </div>
      <div class="form-group">
            <select *ngFor="let cate of category" [(ngModel)]="project.categoryWorkId"  name="categoryWorkId" id="">
                <option   value="{{cate.id}}">{{cate.name}}</option>
            </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

     
    </form>
  </div>