<section>
    <div class="container">
      <div class="infomation">
        <div class="about">
          <h1 class="name">Hi, I am {{about.name}},</h1>
          <h1 class="job-position">{{about.position}}</h1>
          <p class="desc">
            {{about.about}}
          </p>
          <button (click)="downloadcv(about.cv)" class="download-cv">Download Resume</button>
        </div>
        <div class="avatar">
          <img src="{{about.img}}" alt="" />
        </div>
      </div>
    </div>
  </section>