<section>
    <div class="container">
      <div class="infomation">
        <div class="about">
          <h1 class="name">Hi, I am Hai,</h1>
          <h1 class="job-position">Front-End Developer</h1>
          <p class="desc">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint. Velit officia consequat duis enim velit mollit.
            Exercitation veniam consequat sunt nostrud amet.
          </p>
          <button class="download-cv">Download Resume</button>
        </div>
        <div class="avatar">
          <img src="./assets/images/avatar/Ellipse 1.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>