
<app-about></app-about>
<app-recent-posts></app-recent-posts>
<section class="featured-works">
    <div class="container">
      <div class="work-title">
        <p>Featured works</p>
      </div>
      <div class="list-works">
        <div class="work">
          <img
            src="./assets/images/img-works/Rectangle 30.jpg"
            alt=""
            class="logo"
          />
          <div class="text-content">
            <h3 class="text-heading">
              <a href=""> Designing Dashboards</a>
            </h3>
            <div class="date_category">
              <span class="date">2020</span>
              <span class="category">Dashboard</span>
            </div>
            <p class="text-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="work">
          <img
            src="./assets/images/img-works/Rectangle 32.jpg"
            alt=""
            class="logo"
          />
          <div class="text-content">
            <h3 class="text-heading">
              <a href="">Vibrant Portraits of 2020</a>
            </h3>
            <div class="date_category">
              <span class="date">2018</span>
              <span class="category">Illustration</span>
            </div>
            <p class="text-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <div class="work">
          <img
            src="./assets/images/img-works/Rectangle 34.jpg"
            alt=""
            class="logo"
          />
          <div class="text-content">
            <h3 class="text-heading">
              <a href="">36 Days of Malayalam type</a>
            </h3>
            <div class="date_category">
              <span class="date">2018</span>
              <span class="category">Typography</span>
            </div>
            <p class="text-desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>