<app-header></app-header>
<div class="container">
  <div class="content-work">
      <h2 class="title-work">
          Work
      </h2>
      <div class="list-works">
          <div *ngFor="let work of works" class="work">
              <img
                src="{{work.img}}"
                alt=""
                class="logo"
              />
              <div class="text-content">
                <h3 class="text-heading">
                  <a href=""> {{work.name}}</a>
                </h3>
                <div class="date_category">
                  <span class="date">{{work.createAt}}</span>
                  <span class="category">{{work.categoryWork.name}}</span>
                </div>
                <p class="text-desc">
                  {{work.desc}}
                </p>
              </div>
            </div>
           
          

      </div>
  </div>
</div>