<header>
    <div class="container">
      <div class="header-top">
        <div class="logo"></div>
        <div class="top-nav" id="myTopnav">
          <ul>
            <li class="icon">
              <a onclick="myFunction()" href="#"><img src="./assets/images/icon-footer/1828850.png" alt=""></a>
            </li>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/work">Works</a></li>
            <li><a routerLink="/blog">Blog</a></li>
            <li><a routerLink="">Contact</a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </header>
