<app-headeradmin></app-headeradmin>
<div class="container">
    <h2>Danh sách Works</h2>
               
    <table class="table">
      <thead>
        <tr>
            <th>#</th>
          <th>Name</th>
          <th>Img</th>
          <th>Desc</th>
          <th>Sửa</th>
          <th>Xoá</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts; let i = index">
            <td>{{i+1}}</td>
          <td>{{post.name}}</td>
          <td><img src="{{post.img}}" width="80" height="50" alt=""></td>
          <td>{{post.desc}}</td>
          <td><a class="btn-success" routerLink="/admin/blogs/{{post.id}}/edit">Sửa</a></td>
          <td><button class="btn-success" (click)="onDel(post.id)">Xoá</button></td>
         

        </tr>
      
      </tbody>
    </table>
  </div>