
<app-header></app-header>
<div class="container">
    <h2>Đăng nhập</h2>
    
    <form (ngSubmit)="onSignin()">
     
      <div class="form-group">
        <label for="usr">Email:</label>
        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" id="usr">
      </div>
     
      
      <div class="form-group">
        <label for="usr">Password:</label>
        <input type="text" [(ngModel)]="user.password" name="password" class="form-control" id="usr">
      </div>
   
      <button type="submit" class=" mt-2 btn btn-primary">Submit</button>
      
     
    </form>
    <button routerLink="/signup" class="btn btn-success mt-5">Chưa có tài khoản? Đăng ký</button>
  </div>