<app-header></app-header>
<app-about></app-about>
<app-recent-posts></app-recent-posts>
<section class="featured-works">
    <div class="container">
      <div class="work-title">
        <p>Featured works</p>
      </div>
      <div class="list-works">
        <div *ngFor="let work of works" class="work">
          <img
            src="{{work.img}}"
            alt=""
            class="logo" width="246" height="180"
          />
          <div class="text-content">
            <h3 class="text-heading">
              <a routerLink="/work/{{work.id}}"> {{work.name}}</a>
            </h3>
            <div class="date_category">
              <span class="date">{{work.createAt}}</span>
              <span class="category">{{work.categoryWork.name}}</span>
            </div>
            <p class="text-desc">
              {{work.desc}}
            </p>
          </div>
        </div>
      
        
      </div>
    </div>
  </section>