
<app-headeradmin></app-headeradmin>
<div class="container">
    <h2>Edit POST</h2>
    
    <form (ngSubmit)="onEditPost()">
      <div class="form-group">
        <ckeditor [editor]="Editor" [(ngModel)]="post.html"  (ready)="onReady($event)" name="html" data="Hello, world!"></ckeditor>
      </div>
      <div class="form-group">
        <label for="usr">Title:</label>
        <input type="text" [(ngModel)]="post.title" name="name" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="usr">Img:</label>
        <input type="text" [(ngModel)]="post.img" name="img" class="form-control" id="usr">
      </div>
    
      <div class="form-group">
        <label for="usr">desc:</label>
        <input type="text" [(ngModel)]="post.desc" name="desc" class="form-control" id="usr">
      </div>
      <div class="form-group">
            <select *ngFor="let cate of category" [(ngModel)]="post.categoryPostId"  name="categoryPostId" id="">
                <option   value="{{cate.id}}">{{cate.name}}</option>
            </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

     
    </form>
  </div>