<app-header></app-header>
<div class="work-detail">
    <div class="container">
        <div class="content-work_detail">
            <h1 class="title">
               {{post.title}}
            </h1>
            <div class="date-category">
                <span class="date">
                    {{post.createAt}}
                </span>
                <span class="category">
                   <a routerLink="/categoryposts/{{post.categoryPost.id}}"> {{post.categoryPost.name}}</a>
                </span>
            </div>
            <div innerHTML="{{post.html}}"></div>
            
       
    </div>
</div>