<section class="recent-posts">
    <div class="container">
      <div class="posts">
        <div>
          <div class="title-post">
            <p>Recent posts</p>
          </div>
          <div class="view-all">
            <a routerLink="blog">View all</a>
          </div>
        </div>
        <div  class="list-post">
          <div *ngFor="let post of posts" class="post">
            <h3 class="heading-content">
              <a routerLink="/blog/{{post.id}}">{{post.title}}</a>
            </h3>
            <div class="date_category">
              <span class="date"> {{post.createAt}} </span>
              <span class="category"> <a routerLink="/categoryposts/{{post.categoryPost.id}}"> {{post.categoryPost.name}}</a> </span>
            </div>
            <p class="desc">
              {{post.desc}}
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>